/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0%;
    
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 68px;
    margin: 0px;
} 
.header li{
    padding: 1em;
    border: 2px solid transparent;
}

.header li:hover {
    color:var(--main-color);
    border-top: 2px solid var(--main-color)
}

.header img {
    width: 60px;
    gap: 10px;
}

h1{
    font-size: 22px;
}

h1 p {
    font-size: 16px;
}

.search-container {                                  /*container de recherche */
    display: flex;
    align-items: center;
    background-color: white; 
    border-radius: 15px;
    overflow: hidden;
    border: 1px;
   
    
}

.location-icon {                                       /*icone de recherche*/
    background-color: var(--main-bg-color);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
   
    
}

.location-icon i {                                     /*couleur et taille de l'icone*/
    font-size: 18px;
    color: #000;
    
}
input {                                                /*Zone de recherche */
    border: none;
    background-color: transparent;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--main-bg-color);
    
}



input::placeholder {                                  /*transforme le placeholder en noir opaque*/
    color: black; 
    opacity: 1;   
}

input:focus {
    outline: none;
}

#search-button {                                     /* Bouton rechercher */       
    background-color: var(--main-color);  
    color: #fff;
    padding: 15px 16px 15px 16px;
    border: 1px;
    gap: 10px;
    cursor: default;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;  
    display: block;
}

#magnifying-glass{                                   /* bouton de la loupe sur mobile*/
    display: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 16px 15px 16px;
    border: 1px;
    gap: 10px;
    border-radius: 15px;
    

}
#magnifying-glass i{                                   /*icone de la loupe sur mobile*/
    color: #fff;

}
.filters-container{                                    /*container de filtre*/
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 25px;
}
.filters{                                                   /* mot filtres*/
    font-weight: bold;
    margin: 10px;
    margin-left: 2px;
    padding-top: 3px;
    padding-right: 8px;
    
}


.button-filters1{                                       /*bouton 1 */
    padding: 10px 19px 10px 19px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    gap:10px;
    font-weight: bold;
    margin: 4px;
}

.button-filters2{                                     /* bouton 2 */
    padding: 10px 19px 10px 19px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    gap:10px;
    font-weight: bold;
    margin: 4px;
}

.button-filters3{                                      /* bouton 3*/
    padding: 10px 19px 10px 19px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    gap:10px;
    font-weight: bold;
    margin: 4px;
}

.button-filters4{                                        /* bouton 4*/
    padding: 10px 19px 10px 19px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    gap:10px;
    font-weight: bold;
    margin: 4px;
}
.button-filters1:hover{                                  /*effet bouton au survol*/
    background-color:var(--filter-bg-color);
}
.button-filters2:hover{                                  /*effet bouton au survol*/
    background-color:var(--filter-bg-color);
}
.button-filters3:hover{                                  /*effet bouton au survol*/
    background-color:var(--filter-bg-color);
}
.button-filters4:hover{                                  /*effet bouton au survol*/
    background-color:var(--filter-bg-color);
}

.info-bar{
    width: 440px;
    display: flex;
    justify-content:space-between;
    margin: 10px;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-i{
    font-size:xx-small;
    width: 8px;
    border-radius: 30px;
    padding: 4px 4px 4px 8px;
    border: 1.8px solid var(--main-bg-color);
    
    }
   

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {                                     /*zone hebergement*/
    width: 65%; /
 }

.hebergements .section-title{
    padding: 9px 9px 17px 9px;
}
 
.hebergements-cards{                                   /*contenaire de la carte d'hebergement*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
    margin: 5px;
    }

    .hebergements-cards .card-subtitle{                      /* zone texte carte*/
        margin: 3px;
        padding-left: 4px;
        font-size: 14px;
    }

    .hebergements-cards .card-title{                          /*titre carte */
        margin: 3px;
        padding-left: 4px;
    }

    .hebergements-cards .card-rating{                    /*etoile */
        padding-left: 8px;
    }
.hebergements-cards a{                                  /*lien d'hebergement*/
    width: 30%;
}

.hebergements-cards .card{                              /*carte d'hebergement*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-height: 260px;
    width: 100%;
    gap: 4px;
   
    
}

.hebergements-cards .card-content{                       /*contenue de la carte*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.hebergements-cards img{                                /*image de la carte */
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
    
}
.hebergements .show-more{
    font-weight: bold;
    font-size: medium;
    padding-top: 30px;
    padding-left: 7px;
    margin: 0px;
}


/****** Populaires ***********/
.populaires {
    width: 32%; 
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités */
.activities{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.activities-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.activities-cards .card{
    padding: 0px;
}
.activities a{
    width: 30%;
}
.activities img{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}
.activities-cards .card-title{
    padding: 10px;
    margin: 0%;
    font-size: small;
}

.activities-cards .card-content{
    height: 50px;
}

/* Footer de la page*/

.footer {
    display: flex;
    margin: 0px;
    padding: 10px;
    background-color: var(--main-bg-color);
    margin-top: 40px;
}

.footer .footer-title{
    font-size: small;
}

.footer ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    gap: 10px;
    
}
.footer li{
    font-size: small;
    
}

.footer .about{
    padding: 4px;
    display: flex;
    width: 100%;
    flex-direction: column;
    
}
.footer .accommodations{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 30px;
}

.footer .assistance{
    display: flex;
    width: 100%;
    flex-direction: column;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        
        flex-direction: column;
        
    } 
    .hebergements {
        width: 100%;
        
    }


    .hebergements-cards .a {
        width: 30%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
       
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
@media (min-width:320px) and (max-width: 768px) {  /* position relative concernant le mobile*/
   
    .main-container{
        box-sizing: unset;
        padding: 0%;
      
        }
    .header {
        display: flex;
        justify-content: center;
        }  

    .header img{
        margin-top: 30px;
        position: relative;
        left: 4px;
         }

    .header nav {
      position: relative;
     
    }
    .header ul{
        display: flex;
        justify-content: center;
        margin: 0%;
        padding:0%;
        border-bottom: 2px solid var(--main-bg-color);
        width: 100%;
    }

    .header li:hover {
        color:var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }
    .info{
        padding: 8px;
        
    } 
    .filters{                                             /*filtres*/
        font-weight: bold;       
        margin: 10px;
    }
    .search-container{                                   /*container de recherche*/
        width: 230px;
        overflow: visible;
        padding: 2px;
       
    }

    #magnifying-glass {                                /* Affiche la loupe sur les écrans mobiles */
        display: block; 
        position: relative;
        justify-content: end;
        right: 32px;
        align-items: flex-start;
        box-shadow:0px 0.1px 2.1px rgba(0, 0, 0, 0.027),0px 4px 4px 0px rgba(0, 0, 0, 0.31);
    }
    #magnifying-glass i{                              /* Taille de la loupe */
        font-size: 18px;
    }

    #search-button {                                  /* Cache le bouton texte "Rechercher" sur mobile */
        display: none;               
    }
    
    input {
        position:relative;                            /* Barre de recherche*/
        border-radius: 0px 15px 15px 0px;
        width: 230px;
         }

    .filters-container{                                 /*container de filtre */
         padding-top: 10px; 
    }
    .button-filters1{                                    /*effet bouton sur mobile*/
        padding: 10px;
        width: 138px;
      
    }

    .button-filters2{                                     /*effet bouton sur mobile*/
        width: 138px;
       padding: 10px;
       
    }
    .button-filters3{                                    /*effet bouton sur mobile*/
        padding: 10px;
        width: 138px;


}
    
    .button-filters4{                                  /*effet bouton sur mobile*/
        width: 138px;
        padding: 10px;
        
    }
    .info-bar{                                          /*barre d'info positionnement*/
        
        font-size: small;
        width: 280px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .icon-i{                                                  /*positionnement de l'icone i*/
    margin-right: 8px;
    }

    .hebergements-and-populaires{
    display: flex;
    flex-direction: column-reverse;
    }


    .hebergements-and-populaires section{
    border-radius: 0%;
    padding: 18px 13px 18px 13px ;
    margin: 0%; 
    } 
    

    .populaires {                                               /*container de populaire*/
    display: flex;
    flex-direction: column; 
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card{                                         /*positionnement de la carte populaire*/
    margin-top: 15px;
    }


    .populaires-cards a{                                         /*taille du lien populaire*/ 
        width: 100%;
    }


    .hebergements {                                              /*container d'hébergement*/
        display: flex;
        flex-direction: column;
    }


    .hebergements-cards{                                       /*positionnement de la carte d'hébergement*/
        display: flex;
        flex-direction: column;
        align-content: center;
    }


    .hebergements-cards a{                                     /*taille du lien d'hébergement*/
        width: 100%;
    }
    .hebergements-cards img{                                 /* taille image d'hébergement*/
        height: 90px;
    }

    .hebergements .show-more{                                /* lien afficher plus*/
        padding-top: 2px;
    }
    .activities{                                             /*container d'activités*/
        display: flex;
        flex-direction: column;
    }
    .activities-cards{                                        /*positionnement de la carte activités*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .activities-cards a {                                   /*taille du lien activités*/
        width: 90%;
        }
    .activities-cards .card-content{                         
    padding: 2px;
    height: 40px;
        }
        .activities-cards img{                             /*taille de la photos section activités*/
            height: 120px;
        }

    .footer {                                             /*footer*/
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        }


    .footer .about{                                    /* section A propos footer*/
       padding-bottom: 20px;
    }

    .footer .accommodations{                         /*section hebergement footer*/
        padding-left: 0%;
        padding-bottom: 20px;
    }
}